.buttonSend {
    width: 100%;
    padding: 15px 20px;
    border-radius: 30px;
    background-color: #B88200;
    cursor: pointer;
}

.buttonSend span {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
    font-weight: 300;
    color: #fff;
}

.buttonIcon {
    background-color: inherit;
    padding: 5px;
    position: absolute;
    left: 10px;
    top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.container {
    background-color: #ffffff;
    width: 400px;
    position: absolute;
    top: 150px;
    left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 400px;
}

.backgroundContent {
    background-color: #eae7ed;
    padding-top: 100px;
    width: 100vw;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.backgroundContent .conteudo {
    width: 90%;
    margin-bottom: 50px;
}

.selectInput {
    display: flex;
    margin: 5px 0;
    overflow: hidden;
    justify-content: space-between;
    padding: 12px 15px;
    border-radius: 5px;
    background-color: #E9E9E9;
    margin-top: 5px;
}

.selectInput select {
    color: #6F6F6F;
    width: 100%;
    background-color: inherit;
}

.check {
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.check label {
    margin-left: 5px;
}

.filterButton {
    background-color: #F2AC05;
    border-radius: 5px;
    padding: 10px 20px;
    width: 100%;
    bottom: 10px;
    max-width: 250px;
    cursor: pointer;
}
.filterButton:active {
    background-color: #f4c229;

}

.filterButton span {
    color: #fff;
    font-weight: 500;
    font-size: 1rem;
}