.contentSearch {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 100px;
}

.filters {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    width: 290px;
    height: 360px;
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 50px;
    top: 150px;
    background-color: #ffffff;
    color: #6F6F6F;
    padding: 35px 25px;
}

.cardsSearch {
    margin-left: 400px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.formSearch {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}